{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html>
{% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/nav.html" %}

        {# Post page is the default #}
        {% block main_content %}
        Nothing here?!
        {% endblock main_content %}
    </div>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>

</html>