@import "parts/_cards.scss";
@import "parts/_code.scss";
@import "parts/_header.scss";
@import "parts/_image.scss";
@import "parts/misc.scss";
@import "parts/table.scss";
@import "parts/tags.scss";

:root {
  /* Used for: block comment, hr, ... */
  --border-color: var(--bg-1);

  /* Fonts */
  --text-font: 'Jetbrains Mono';
  --header-font: 'Space Grotesk';
  --code-font: 'Jetbrains Mono';
}

html {
  background-color: var(--bg-0);
  color: var(--text-0);
  font-family: var(--text-font);
  line-height: 1.6em;
}

.content {
  max-width: 944px;
  margin: 0 auto;
  padding: 0 24px;
  word-wrap: break-word;
}

@media all and (min-width:640px) {
  html {
    font-size: 16.5px;
  }
}

@media all and (min-width:720px) {
  html {
    font-size: 17px;
  }
}

@media all and (min-width:960px) {
  html {
    font-size: 18px;
  }
}

.tag {
  border-radius: 4px;
  padding-top: 1px;
  padding-bottom: 1px; 
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 1px;
}

.tag_reference_offset {
  background-color:#4E79A780;
}

.tag_degree {
  background-color:#F28E2B80;
}

.tag_nintervals {
  background-color:#E1575980;
}

.tag_interval_start {
  background-color:#76B7B280;
}

.tag_interval_len {
  background-color:#59A14F80;
}

.tag_first_residual {
  background-color:#EDC94880;
}

.tag_residual_gap {
  background-color:#B07AA180;
}

.tag_blocks_count {
  background-color:#FF9DA780;
}

.tag_blocks {
  background-color:#9C755F80;
}